In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [2]:
#create an empty list to collect all reviews
reviews  = []

#create an empty list to collect rating stars
stars = []

#create an empty list to collect date
date = []

#create an empty list to collect country the reviewer is from
country = []

In [3]:
for i in range(1, 36):
    page = requests.get(f"https://www.airlinequality.com/airline-reviews/british-airways/page/{i}/?sortby=post_date%3ADesc&pagesize=100")
    
    soup = BeautifulSoup(page.content, "lxml")
    
    for item in soup.find_all("div", class_="text_content"):
        reviews.append(item.text)
    
    for item in soup.find_all("div", class_ = "rating-10"):
        try:
            stars.append(item.span.text)
        except:
            print(f"Error on page {i}")
            stars.append("None")
            
    #date
    for item in soup.find_all("time"):
        date.append(item.text)
        
    #country
    for item in soup.find_all("h3"):
        country.append(item.span.next_sibling.text.strip(" ()"))

Error on page 33
Error on page 35
Error on page 35

In [4]:
len(reviews)

3500

In [5]:
len(country)

3500

In [6]:
stars = stars[:3500]

In [9]:
df = pd.DataFrame({"reviews":reviews,"stars": stars, "date":date, "country": country})

In [10]:
df.head()

,reviews,stars,date,country
0,Not Verified | Happy with the flight crew. Ha...,\n\t\t\t\t\t\t\t\t\t\t\t\t5,24th September 2024,United States
1,✅ Trip Verified | Horrible service from boar...,10,22nd September 2024,Morocco
2,Not Verified | My wife and I are very disappo...,1,13th September 2024,United States
3,Not Verified | We flew BA between Heathrow an...,1,13th September 2024,Australia
4,Not Verified | Absolutely disgusted with BA. ...,8,13th September 2024,United Kingdom

In [11]:
df.shape

(3500, 4)

In [12]:
import os

cwd = os.getcwd()
df.to_csv(cwd+ "/BA_reviews.csv")